# Wrangle and Analyze Data Project Details 
1. `wrangle_act.ipynb`: code for gathering, assessing, cleaning, analyzing, and visualizing data
2. `wrangle_report.pdf` or `wrangle_report.html`: `300-600` word documentation for data wrangling steps: gather, assess, and clean 
2. `act_report.pdf` or `act_report.html`: `250` word minimum documentation of analysis and insights into final data
3. `twitter_archive_enhanced.csv`: file as given
4. `image_predictions.tsv`: file downloaded programmatically
5. `tweet_json.txt`: file constructed via API
6. `twitter_archive_master.csv`: combined and cleaned data
7. any additional files
8. At least three `3` insights and one `1` visualization must be assessed.

## Part I: Gather

In [1]:
import pandas as pd
import requests
import os
import logging
import sys
import json
import datetime
import numpy as np
# global logger level is configured in main()
Logger = None

#### OS, File I/O, Requests

In [19]:
folder_name = 'tweet_image_predictions'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

with open(os.path.join(folder_name, url.split('/')[-1]), mode='wb') as file:
    file.write(response.content)

#### Twitter API, Tweepy, File I/O

1. Query all of the tweet IDs in the WeRateDogs Twitter archive, printing out each tweet ID after it was queried.
2. Set the wait_on_rate_limit and wait_on_rate_limit_notify parameters to True in the tweepy.api class.
3. Tweet data is stored in JSON format by Twitter. 
4. Set the tweet_mode parameter to 'extended' in the get_status call, i.e., api.get_status(tweet_id, tweet_mode='extended').
- You only want original ratings (no retweets) that have images. 
- Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.

In [21]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

consumer_key = 'API_KEY'
consumer_secret = 'SECRET'
access_token = 'TOKEN'
access_secret = 'SECRET'
    
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth_handler=auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [ ]:
tweet_ids = df.tweet_id.values
len(tweet_ids)

count = 0
fails_dict = {}
start = timer()
with open('tweet_json.txt', 'w') as outfile:
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Got thru!")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Did not get thru.")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

In [3]:
with open('tweet_json.txt') as file:
    tweet_json_list = []
    for line in file:
        tweet_json_list.append(json.loads(line)) # cite 1

In [4]:
tweet_json_list[7]

{'created_at': 'Fri Jul 28 00:22:40 +0000 2017',
 'id': 890729181411237888,
 'id_str': '890729181411237888',
 'full_text': "When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq",
 'truncated': False,
 'display_text_range': [0, 118],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 890729118844600320,
    'id_str': '890729118844600320',
    'indices': [119, 142],
    'media_url': 'http://pbs.twimg.com/media/DFyBag_UQAAhhBC.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DFyBag_UQAAhhBC.jpg',
    'url': 'https://t.co/v0nONBcwxq',
    'display_url': 'pic.twitter.com/v0nONBcwxq',
    'expanded_url': 'https://twitter.com/dog_rates/status/890729181411237888/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'large': {'w': 1200, 'h': 1328, 'resize': 'fit'},
     'medium': {'w': 1084, 'h': 1200, 'resize': 'fit'},
     'small': {'w': 614, 'h': 680, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 890729118844600320,
    'id_str': '890729118844600320',
    'indices': [119, 142],
    'media_url': 'http://pbs.twimg.com/media/DFyBag_UQAAhhBC.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DFyBag_UQAAhhBC.jpg',
    'url': 'https://t.co/v0nONBcwxq',
    'display_url': 'pic.twitter.com/v0nONBcwxq',
    'expanded_url': 'https://twitter.com/dog_rates/status/890729181411237888/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'large': {'w': 1200, 'h': 1328, 'resize': 'fit'},
     'medium': {'w': 1084, 'h': 1200, 'resize': 'fit'},
     'small': {'w': 614, 'h': 680, 'resize': 'fit'}}},
   {'id': 890729118848892928,
    'id_str': '890729118848892928',
    'indices': [119, 142],
    'media_url': 'http://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg',
    'url': 'https://t.co/v0nONBcwxq',
    'display_url': 'pic.twitter.com/v0nONBcwxq',
    'expanded_url': 'https://twitter.com/dog_rates/status/890729181411237888/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'small': {'w': 510, 'h': 680, 'resize': 'fit'},
     'medium': {'w': 901, 'h': 1200, 'resize': 'fit'},
     'large': {'w': 1201, 'h': 1600, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀',
  'url': 'https://t.co/N7sNNHSfPq',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHSfPq',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 8270851,
  'friends_count': 12,
  'listed_count': 6385,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 142537,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 10603,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1564600075',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 17788,
 'favorite_count': 62862,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [5]:
df_json = pd.DataFrame.from_records(tweet_json_list)

#### Pandas read_csv and tsv

In [6]:
df_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [7]:
df_tsv = pd.read_csv('tweet_image_predictions/image-predictions.tsv', sep='\t', header=0)

## Part II: Assess

- Assess and clean at least **eight `8` quality issues** and **two `2` tidiness issues** in this dataset.
- Cleaning includes merging individual pieces of data according to the rules of tidy data.
- The fact that the rating numerators are greater than the denominators does not need to be cleaned. 
- You do not need to gather the tweets beyond August 1st, 2017. 
- You only want ratings (no retweets) that have images from JSON Twitter API data
- Image prediction scores are in `tsv` for each dog and T/F confirms prediction accurate or not
- Dog stages are: `doggo` (big pupper and older), `floofer` (any dog with +fur), `pupper` (small doggo and younger), `puppo` (transition between pupper and doggo)

In [8]:
df_archive.sample(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None

In [9]:
df_tsv.sample(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1240,746906459439529985,https://pbs.twimg.com/media/Cl2LdofXEAATl7x.jpg,1,traffic_light,0.470708,False,fountain,0.199776,False,space_shuttle,0.064807,False
530,676819651066732545,https://pbs.twimg.com/media/CWSL4W8WsAAE4KU.jpg,2,rain_barrel,0.625555,False,barrel,0.138383,False,Labrador_retriever,0.039465,True
1343,759047813560868866,https://pbs.twimg.com/media/Coit84_VYAEMtLi.jpg,1,Labrador_retriever,0.778546,True,bathing_cap,0.154254,False,golden_retriever,0.024972,True

In [10]:
df_json.sample(1)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
1146,None,None,Fri Apr 15 15:44:11 +0000 2016,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 721001172476137472, 'id_str'...",2585,False,This is Oliver. Bath time is upon him. His fea...,None,...,NaN,NaN,NaN,NaN,626,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [11]:
df_json.info() # only want ratings (not retweets) with url image

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 32 columns):
contributors                     0 non-null object
coordinates                      0 non-null object
created_at                       2333 non-null object
display_text_range               2333 non-null object
entities                         2333 non-null object
extended_entities                2061 non-null object
favorite_count                   2333 non-null int64
favorited                        2333 non-null bool
full_text                        2333 non-null object
geo                              0 non-null object
id                               2333 non-null int64
id_str                           2333 non-null object
in_reply_to_screen_name          77 non-null object
in_reply_to_status_id            77 non-null float64
in_reply_to_status_id_str        77 non-null object
in_reply_to_user_id              77 non-null float64
in_reply_to_user_id_str          77 non-null object
is_quote_status                  2333 non-null bool
lang                             2333 non-null object
place                            1 non-null object
possibly_sensitive               2199 non-null object
possibly_sensitive_appealable    2199 non-null object
quoted_status                    24 non-null object
quoted_status_id                 26 non-null float64
quoted_status_id_str             26 non-null object
quoted_status_permalink          26 non-null object
retweet_count                    2333 non-null int64
retweeted                        2333 non-null bool
retweeted_status                 165 non-null object
source                           2333 non-null object
truncated                        2333 non-null bool
user                             2333 non-null object
dtypes: bool(4), float64(3), int64(3), object(22)
memory usage: 519.5+ KB

In [12]:
df_tsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [13]:
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Quality

**twitter-archive-enhanced.csv**: 
1. `NaN` values in `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_timestamp`
2. `None` values in `name`,  `doggo`, `floofer`, `pupper`, `puppo`
3. Single letters in `name`

**tweet_json.txt**: 
4.  `None` values in `contributors`, `coordinates`, `geo`
5. `NaN` values in `extended_entities`, `quoted_status`, `quoted_status_id`, `quoted_status_id_str`, `quoted_status_permalink`, `retweeted_status`
6. remame `id_str` to `tweet_id` for merging dataframes

**image-predictions.tsv**
7. `p1, p2, p3` have both upper and lower case strings 
8. `p1, p2, p3` have `_` between name
9. `p1, p2, p3` have non-dog names

### Tidiness


- Column headers are values, not variable names.
- Multiple variables are stored in one column.
- Variables are stored in both rows and columns.
- Multiple types of observational units are stored in the same table.
- A single observational unit is stored in multiple tables.

1. `image-predictions.tsv` columns names need to be renamed to show prediction outcome
2. all three `json`, `tsv`, `txt` DataFrames need to be merged to combine only important data joining on `tweet_id`

## Part III: Clean

In [358]:
archive_clean = df_archive.copy()
json_clean = df_json.copy()
tsv_clean = df_tsv.copy()

In [359]:
archive_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [360]:
json_clean.columns

Index(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'favorite_count', 'favorited',
       'full_text', 'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'possibly_sensitive_appealable',
       'quoted_status', 'quoted_status_id', 'quoted_status_id_str',
       'quoted_status_permalink', 'retweet_count', 'retweeted',
       'retweeted_status', 'source', 'truncated', 'user'],
      dtype='object')

In [361]:
tsv_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

#### drop columns, drop null values, convert to timestamp, ignore lower case names

In [362]:
archive_clean.drop(columns=['in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp', 'text', 'retweeted_status_id', 'retweeted_status_user_id','retweeted_status_timestamp', 'expanded_urls'], inplace=True)

In [363]:
json_clean.drop(columns=['contributors', 'coordinates', 'display_text_range', 'entities', 'extended_entities', 'favorited', 'geo', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'place', 'possibly_sensitive', 'possibly_sensitive_appealable','quoted_status', 'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink', 'retweeted', 'retweeted_status', 'source', 'truncated', 'user'], inplace=True)

In [364]:
tsv_clean.drop(columns=['img_num', 'p1_conf', 'p2_conf', 'p3_conf'], inplace=True)

In [365]:
archive_clean.replace(['None'], np.nan, inplace = True) # replace None with NaN in order to dropna truthy 
archive_clean.drop(archive_clean[  (archive_clean['name'].str.len() <=3 )].index, inplace=True) # drop names <=3

In [366]:
archive_clean.isnull().sum()

tweet_id                 0
source                   0
rating_numerator         0
rating_denominator       0
name                   745
doggo                 2084
floofer               2169
pupper                1940
puppo                 2147
dtype: int64

In [367]:
archive_clean['name'].replace('such','NaN',inplace=True) # edge case
archive_clean['name'].replace('quite','NaN',inplace=True) # edge case

In [368]:
archive_clean.shape, json_clean.shape, tsv_clean.shape

((2177, 9), (2333, 5), (2075, 8))

In [369]:
json_clean['created_at'] = pd.to_datetime(json_clean['created_at'])

In [370]:
json_clean['created_at'] = json_clean['created_at'].map(lambda x: x.strftime('%Y%m%d%' + ' ' + '%I:%M %p') if x else "") # cite 2

#### rename columns

In [371]:
json_clean = json_clean.rename(columns={"id": "tweet_id", "created_at": "timestamp"})

In [372]:
archive_clean = archive_clean.rename(columns={"name": "dog_name"})

In [373]:
tsv_clean = tsv_clean.rename(columns={"p1": "first_dog_prediction", "p1_dog": "first_prediction_outcome", \
                         "p2": "second_dog_prediction", "p2_dog": "second_prediction_outcome", \
                          "p3": "third_dog_prediction", "p3_dog": "third_prediction_outcome"})

#### string function replace and title

In [374]:
tsv_clean['first_dog_prediction'] = tsv_clean['first_dog_prediction'].astype(str).replace(to_replace ='_', value = ' ', regex = True) 
tsv_clean['first_dog_prediction'] = tsv_clean['first_dog_prediction'].astype(str).str.title()

tsv_clean['second_dog_prediction'] = tsv_clean['second_dog_prediction'].astype(str).replace(to_replace ='_', value = ' ', regex = True) 
tsv_clean['second_dog_prediction'] = tsv_clean['second_dog_prediction'].astype(str).str.title()

tsv_clean['third_dog_prediction'] = tsv_clean['third_dog_prediction'].astype(str).replace(to_replace ='_', value = ' ', regex = True) 
tsv_clean['third_dog_prediction'] = tsv_clean['third_dog_prediction'].astype(str).str.title()

In [375]:
tsv_clean.tweet_id.dtype, json_clean.tweet_id.dtype, archive_clean.tweet_id.dtype # check join key same type

(dtype('int64'), dtype('int64'), dtype('int64'))

In [376]:
# clean ratings: df['rating_numerator'] = df.text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True) #regex extracting
# # cite: https://knowledge.udacity.com/questions/49748

# replace column names with nan: 
# mask1 = twitter_clean.name.str.isupper()
# mask2 = df_1_clean.name.str.islower()
# column_name = 'name'
# df_clean.loc[(mask1 | mask2), column_name] = np.nan 
# # cite: https://knowledge.udacity.com/questions/45647

#### Merge DataFrames

In [378]:
json_clean.sample(3), tsv_clean.sample(3), archive_clean.sample(3)

In [379]:
json_clean.columns, tsv_clean.columns, archive_clean.columns

(Index(['timestamp', 'favorite_count', 'full_text', 'tweet_id',
        'retweet_count'],
       dtype='object'), Index(['tweet_id', 'jpg_url', 'first_dog_prediction',
        'first_prediction_outcome', 'second_dog_prediction',
        'second_prediction_outcome', 'third_dog_prediction',
        'third_prediction_outcome'],
       dtype='object'), Index(['tweet_id', 'source', 'rating_numerator', 'rating_denominator',
        'dog_name', 'doggo', 'floofer', 'pupper', 'puppo'],
       dtype='object'))

In [380]:
from functools import reduce
dfs = [json_clean, tsv_clean, archive_clean]
master = reduce(lambda left,right: pd.merge(left,right,on='tweet_id'), dfs) # cite 3

In [382]:
master.sample(1)

,timestamp,favorite_count,full_text,tweet_id,retweet_count,jpg_url,first_dog_prediction,first_prediction_outcome,second_dog_prediction,second_prediction_outcome,third_dog_prediction,third_prediction_outcome,source,rating_numerator,rating_denominator,dog_name,doggo,floofer,pupper,puppo
1628,20151201 04:22 AM,1961,Interesting dog here. Very large. Purple. Mani...,671544874165002241,1037,https://pbs.twimg.com/media/CVHOgDvU4AAfrXD.jpg,Feather Boa,False,Wig,False,Wool,False,"<a href=""http://twitter.com/download/iphone"" r...",6,10,NaN,NaN,NaN,NaN,NaN

In [383]:
master.columns

Index(['timestamp', 'favorite_count', 'full_text', 'tweet_id', 'retweet_count',
       'jpg_url', 'first_dog_prediction', 'first_prediction_outcome',
       'second_dog_prediction', 'second_prediction_outcome',
       'third_dog_prediction', 'third_prediction_outcome', 'source',
       'rating_numerator', 'rating_denominator', 'dog_name', 'doggo',
       'floofer', 'pupper', 'puppo'],
      dtype='object')

In [384]:
master.reindex(columns=['timestamp', 'tweet_id', 'full_text', 'jpg_url', 'source', 'dog_name', 
        'favorite_count', 'retweet_count', 'rating_numerator', 'rating_denominator',
       'first_dog_prediction', 'first_prediction_outcome','second_dog_prediction', 'second_prediction_outcome',
       'third_dog_prediction', 'third_prediction_outcome', 'doggo', 'floofer', 'pupper', 'puppo'])

,timestamp,tweet_id,full_text,jpg_url,source,dog_name,favorite_count,retweet_count,rating_numerator,rating_denominator,first_dog_prediction,first_prediction_outcome,second_dog_prediction,second_prediction_outcome,third_dog_prediction,third_prediction_outcome,doggo,floofer,pupper,puppo
0,20170801 04:23 PM,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Phineas,37274,7983,13,10,Orange,False,Bagel,False,Banana,False,NaN,NaN,NaN,NaN
1,20170801 12:17 AM,892177421306343426,This is Tilly. She's just checking pup on you....,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Tilly,32047,5928,13,10,Chihuahua,True,Pekinese,True,Papillon,True,NaN,NaN,NaN,NaN
2,20170731 12:18 AM,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Archie,24147,3915,12,10,Chihuahua,True,Malamute,True,Kelpie,True,NaN,NaN,NaN,NaN
3,20170730 03:58 PM,891689557279858688,This is Darla. She commenced a snooze mid meal...,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Darla,40588,8129,13,10,Paper Towel,False,Labrador Retriever,True,Spatula,False,NaN,NaN,NaN,NaN
4,20170729 04:00 PM,891327558926688256,This is Franklin. He would like you to stop ca...,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Franklin,38826,8813,12,10,Basset,True,English Springer,True,German Short-Haired Pointer,True,NaN,NaN,NaN,NaN
5,20170729 12:08 AM,891087950875897856,Here we have a majestic great white breaching ...,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,19501,2931,13,10,Chesapeake Bay Retriever,True,Irish Terrier,True,Indian Elephant,False,NaN,NaN,NaN,NaN
6,20170728 12:22 AM,890729181411237888,When you watch your owner call another dog a g...,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,62862,17788,13,10,Pomeranian,True,Eskimo Dog,True,Pembroke,True,NaN,NaN,NaN,NaN
7,20170727 04:25 PM,890609185150312448,This is Zoey. She doesn't want to be one of th...,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Zoey,26842,4033,13,10,Irish Terrier,True,Irish Setter,True,Chesapeake Bay Retriever,True,NaN,NaN,NaN,NaN
8,20170726 03:59 PM,890240255349198849,This is Cassie. She is a college pup. Studying...,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Cassie,30741,6949,14,10,Pembroke,True,Cardigan,True,Chihuahua,True,doggo,NaN,NaN,NaN
9,20170726 12:31 AM,890006608113172480,This is Koda. He is a South Australian decksha...,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Koda,29576,6905,13,10,Samoyed,True,Pomeranian,True,Chow,True,NaN,NaN,NaN,NaN
10,20170725 04:11 PM,889880896479866881,This is Bruno. He is a service shark. Only get...,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Bruno,26824,4704,13,10,French Bulldog,True,Labrador Retriever,True,Muzzle,False,NaN,NaN,NaN,NaN
11,20170725 01:55 AM,889665388333682689,Here's a puppo that seems to be on the fence a...,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,46322,9456,13,10,Pembroke,True,Cardigan,True,Basenji,True,NaN,NaN,NaN,puppo
12,20170724 05:02 PM,889531135344209921,This is Stuart. He's sporting his favorite fan...,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Stuart,14573,2123,13,10,Golden Retriever,True,Labrador Retriever,True,Redbone,True,NaN,NaN,NaN,puppo
13,20170724 12:19 AM,889278841981685760,This is Oliver. You're witnessing one of his m...,https://pbs.twimg.com/ext_tw_video_thumb/88927...,"<a href=""http://twitter.com/download/iphone"" r...",Oliver,24313,5047,13,10,Whippet,True,Borzoi,True,Saluki,True,NaN,NaN,NaN,NaN
14,20170722 04:56 PM,888804989199671297,This is Zeke. He has a new stick. Very proud o...,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Zeke,24645,4014,13,10,Golden Retriever,True,Labrador Retriever,True,English Setter,True,NaN,NaN,NaN,NaN
15,20170722 12:23 AM,888554962724278272,This is Ralphus. He's powering up. Attempting ...,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Ralphus,19089,3320,13,10,Siberian Husky,True,Eskimo Dog,True,Malamute,True,NaN,NaN,NaN,NaN
16,20170720 04:49 PM,888078434458587136,This is Gerald. He was just told he didn't get...,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Gerald,20968,3273,12,10,French Bulldog,True,Pug,True,Bull Mastiff,True,NaN,NaN,NaN,NaN
17,20170719 04:06 PM,887705289381826560,This is Jeffrey. He has a monopoly on the pool...,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Jeffrey,29089,5076,13,10,Basset,True,Redbone,True,Weimaraner,True,NaN,NaN,NaN,NaN
18,20170719 03:39 AM,887517139158093824,I've yet to rate a Venezuelan Hover Wiener. Th...,https://pbs.twimg.com/ext_tw_video_thumb/88751...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,44619,11054,14,10,Limousine,False,Tow Truck,False,Shopping Cart,False,NaN,NaN,NaN,NaN
19,20170719 12:47 AM,887473957103951883,This is Canela. She attempted some fancy porch...,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Canela,66348,17001,13,10,Pembroke,True,Rhodesian Ridgeback,True,Beagle,True,NaN,NaN,NaN,NaN
20,20170718 04:08 PM,887343217045368832,You may not have known you needed to see this ...,https://pbs.twimg.com/ext_tw_video_thumb/88734...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,32431,9843,13,10,Mexican Hairless,True,Sea Lion,False,Weimaraner,True,NaN,NaN,NaN,NaN
21,20170718 12:07 AM,887101392804085760,This... is a Jubilant Antarctic House Bear. We...,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,29448,5617,12,10,Samoyed,True,Eskimo Dog,True,Staffordshire Bullterrier,True,NaN,NaN,NaN,NaN
22,20170717 04:17 PM,886983233522544640,This is Maya. She's very shy. Rarely leaves he...,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Maya,33802,7241,13,10,Chihuahua,True,Toy Terrier,True,Can Opener,False,NaN,NaN,NaN,NaN
23,20170716 11:58 PM,886736880519319552,This is Mingus. He's a wonderful father to his...,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Mingus,11581,3056,13,10,Kuvasz,True,Great Pyrenees,True,Dandie Dinmont,True,NaN,NaN,NaN,NaN
24,20170716 08:14 PM,886680336477933568,This is Derek. He's late for a dog meeting. 13...,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Derek,21611,4196,13,10,Convertible,False,Sports Car,False,Car Wheel,False,NaN,NaN,NaN,NaN
25,20170715 11:25 PM,886366144734445568,This is Roscoe. Another pupper fallen victim t...,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Roscoe,20393,3001,12,10,French Bulldog,True,Chihuahua,True,Boston Bull,True,NaN,NaN,pupper,NaN
26,20170715 04:17 PM,886258384151887873,This is Waffles. His doggles are pupside down....,https://pbs.twimg.com/media/DEyfTG4UMAE4aE9.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Waffles,26959,5946,13,10,Pug,True,Shower Cap,False,Siamese Cat,False,NaN,NaN,NaN,NaN
27,20170714 10:10 PM,885984800019947520,Viewer discretion advised. This is Jimbo. He w...,https://pbs.twimg.com/media/DEumeWWV0AA-Z61.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Jimbo,31414,6367,12,10,Blenheim Spaniel,True,Shih-Tzu,True,Bernese Mountain Dog,True,NaN,NaN,NaN,NaN
28,20170713 03:58 PM,885528943205470208,This is Maisey. She fell asleep mid-excavation...,https://pbs.twimg.com/media/DEoH3yvXgAAzQtS.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Maisey,34672,6049,13,10,Pug,True,Labrador Retriever,True,Kuvasz,True,NaN,NaN,NaN,NaN
29,20170713 01:35 AM,885311592912609280,RT @dog_rates: This is Lilly. She just paralle...,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Lilly,0,17463,13,10,Labrador Retriever,True,Seat Belt,False,Pug,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862,20151118 12:36 AM,666776908487630848,This is Josep. He is a Rye Manganese mix. Can ...,https://pbs.twimg.com/media/CUDeDoWUYAAD-EM.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Josep,339,170,5,10,Seat Belt,False,Miniature Pinscher,True,Chihuahua,True,NaN,NaN,NaN,NaN
1863,20151117 10:06 PM,666739327293083650,This is Lugan. He is a Bohemian Rhapsody. Very...,https://pbs.twimg.com/media/CUC74aTWoAInZey.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Lugan,229,64,10,10,Miniature Poodle,True,Cocker Spaniel,True,Toy Poodle,True,NaN,NaN,NaN,NaN
1864,20151117 06:56 PM,666691418707132416,This is Christoper. He is a spotted Penne. Can...,https://pbs.twimg.com/media/CUCQTpEWEAA7EDz.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Christoper,185,46,8,10,German Shepherd,True,Beagle,True,Bloodhound,True,NaN,NaN,NaN,NaN
1865,20151117 04:09 PM,666649482315059201,Cool dog. Enjoys couch. Low monotone bark. Ver...,https://pbs.twimg.com/media/CUBqKnLWwAA5OQB.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,1092,598,4,10,Border Collie,True,English Springer,True,Collie,True,NaN,NaN,NaN,NaN
1866,20151117 03:51 PM,666644823164719104,This is Jimothy. He is a Botwanian Gouda. Can ...,https://pbs.twimg.com/media/CUBl6IwVAAA9_zT.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Jimothy,227,77,9,10,Ibizan Hound,True,Pembroke,True,West Highland White Terrier,True,NaN,NaN,NaN,NaN
1867,20151117 03:16 AM,666454714377183233,I'll name the dogs from now on. This is Kreggo...,https://pbs.twimg.com/media/CT-5Bs-WUAA2JeC.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Kreggory,504,204,10,10,Dalmatian,True,Labrador Retriever,True,Great Pyrenees,True,NaN,NaN,NaN,NaN
1868,20151117 02:46 AM,666447344410484738,This is Scout. She is a black Downton Abbey. I...,https://pbs.twimg.com/media/CT-yU5QWwAEjLX5.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Scout,99,19,9,10,Curly-Coated Retriever,True,Giant Schnauzer,True,Labrador Retriever,True,NaN,NaN,NaN,NaN
1869,20151117 02:06 AM,666437273139982337,Here we see a lone northeastern Cumberbatch. H...,https://pbs.twimg.com/media/CT-pKmRWIAAxUWj.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,119,44,7,10,Chihuahua,True,Beagle,True,Saluki,True,NaN,NaN,NaN,NaN
1870,20151117 02:00 AM,666435652385423360,"""Can you behave? You're ruining my wedding day...",https://pbs.twimg.com/media/CT-nsTQWEAEkyDn.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,160,51,10,10,Chesapeake Bay Retriever,True,Chain Saw,False,Power Drill,False,NaN,NaN,NaN,NaN
1871,20151117 01:40 AM,666430724426358785,Oh boy what a pup! Sunglasses take this one to...,https://pbs.twimg.com/media/CT-jNYqW4AAPi2M.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,306,183,6,10,Llama,False,Irish Terrier,True,Dingo,False,NaN,NaN,NaN,NaN
1872,20151117 01:30 AM,666428276349472768,Here we have an Austrian Pulitzer. Collectors ...,https://pbs.twimg.com/media/CT-g-0DUwAEQdSn.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,159,79,7,10,Pembroke,True,Chow,True,Pomeranian,True,NaN,NaN,NaN,NaN
1873,20151117 01:02 AM,666421158376562688,*internally screaming* 12/10 https://t.co/YMcr...,https://pbs.twimg.com/media/CT-aggCXAAIMfT3.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,309,110,12,10,Blenheim Spaniel,True,Cocker Spaniel,True,Shih-Tzu,True,NaN,NaN,NaN,NaN
1874,20151117 12:53 AM,666418789513326592,This is Walter. He is an Alaskan Terrapin. Lov...,https://pbs.twimg.com/media/CT-YWb7U8AA7QnN.jpg,"<a href=""http://twitter.com/download/iphone"" r...",Walter,118,44,10,10,Toy Terrier,True,Papillon,True,Chihuahua,True,NaN,NaN,NaN,NaN
1875,20151117 12:24 AM,666411507551481857,This is quite the dog. Gets really excited whe...,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,424,315,2,10,Coho,False,Barracouta,False,Gar,False,NaN,NaN,NaN,NaN
1876,20151116 11:23 PM,666396247373291520,Oh goodness. A super rare northeast Qdoba kang...,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,160,80,9,10,Chihuahua,True,Toy Terrier,True,Papillon,True,NaN,NaN,NaN,NaN
1877,20151116 09:54 PM,666373753744588802,Those are sunglasses and a jean jacket. 11/10 ...,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,179,86,11,10,Soft-Coated Wheaten Terrier,True,Afghan Hound,True,Briard,True,NaN,NaN,NaN,NaN
1878,20151116 09:10 PM,666362758909284353,Unique dog here. Very small. Lives in containe...,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,748,538,6,10,Guinea Pig,False,Skunk,False,Hamster,False,NaN,NaN,NaN,NaN
1879,20151116 08:32 PM,666353288456101888,Here we have a mixed Asiago from the Galápagos...,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,211,71,8,10,Malamute,True,Siberian Husky,True,Eskimo Dog,True,NaN,NaN,NaN,NaN
1880,20151116 08:01 PM,666345417576210432,Look at this jokester thinking seat belt laws ...,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,281,130,10,10,Golden Retriever,True,Chesapeake Bay Retriever,True,Labrador Retriever,True,NaN,NaN,NaN,NaN
1881,20151116 03:14 PM,666273097616637952,Can take selfies 11/10 https://t.co/ws2AMaNwPW,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,166,74,11,10,Italian Greyhound,True,Toy Terrier,True,Basenji,True,NaN,NaN,NaN,NaN
1882,20151116 02:57 PM,666268910803644416,Very concerned about fellow dog trapped in com...,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,99,32,10,10,Desktop Computer,False,Desk,False,Bookcase,False,NaN,NaN,NaN,NaN
1883,20151116 04:02 AM,666104133288665088,Not familiar with this breed. No tail (weird)....,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,13823,6195,1,10,Hen,False,Cock,False,Partridge,False,NaN,NaN,NaN,NaN
1884,20151116 03:55 AM,666102155909144576,Oh my. Here you are seeing an Adobe Setter giv...,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,75,11,11,10,English Setter,True,Newfoundland,True,Borzoi,True,NaN,NaN,NaN,NaN
1885,20151116 03:44 AM,666099513787052032,Can stand on stump for what seems like a while...,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,147,63,8,10,Lhasa,True,Shih-Tzu,True,Dandie Dinmont,True,NaN,NaN,NaN,NaN
1886,20151116 03:22 AM,666094000022159362,This appears to be a Mongolian Presbyterian mi...,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,158,68,9,10,Bloodhound,True,German Shepherd,True,Malinois,True,NaN,NaN,NaN,NaN
1887,20151116 02:38 AM,666082916733198337,Here we have a well-established sunblockerspan...,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,109,42,6,10,Pug,True,Bull Mastiff,True,French Bulldog,True,NaN,NaN,NaN,NaN
1888,20151116 01:59 AM,666073100786774016,Let's hope this flight isn't Malaysian (lol). ...,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,309,150,10,10,Walker Hound,True,English Foxhound,True,Ibizan Hound,True,NaN,NaN,NaN,NaN
1889,20151116 01:52 AM,666071193221509120,Here we have a northern speckled Rhododendron....,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,140,55,9,10,Gordon Setter,True,Yorkshire Terrier,True,Pekinese,True,NaN,NaN,NaN,NaN
1890,20151116 12:24 AM,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,103,41,5,10,Miniature Pinscher,True,Rottweiler,True,Doberman,True,NaN,NaN,NaN,NaN
1891,20151115 10:32 PM,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,"<a href=""http://twitter.com/download/iphone"" r...",NaN,2486,482,8,10,Welsh Springer Spaniel,True,Collie,True,Shetland Sheepdog,True,NaN,NaN,NaN,NaN

#### Storing, Analyzing, and Visualizing Data

In [385]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///tweets.db')

In [387]:
master.to_sql('tweets', engine, index=False)

In [388]:
tweets = pd.read_sql('SELECT * FROM tweets', engine)

In [389]:
tweets.head(3)

,timestamp,favorite_count,full_text,tweet_id,retweet_count,jpg_url,first_dog_prediction,first_prediction_outcome,second_dog_prediction,second_prediction_outcome,third_dog_prediction,third_prediction_outcome,source,rating_numerator,rating_denominator,dog_name,doggo,floofer,pupper,puppo
0,20170801 04:23 PM,37274,This is Phineas. He's a mystical boy. Only eve...,892420643555336193,7983,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,Orange,0,Bagel,0,Banana,0,"<a href=""http://twitter.com/download/iphone"" r...",13,10,Phineas,None,None,None,None
1,20170801 12:17 AM,32047,This is Tilly. She's just checking pup on you....,892177421306343426,5928,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,Chihuahua,1,Pekinese,1,Papillon,1,"<a href=""http://twitter.com/download/iphone"" r...",13,10,Tilly,None,None,None,None
2,20170731 12:18 AM,24147,This is Archie. He is a rare Norwegian Pouncin...,891815181378084864,3915,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,Chihuahua,1,Malamute,1,Kelpie,1,"<a href=""http://twitter.com/download/iphone"" r...",12,10,Archie,None,None,None,None

> Citations:
1. https://stackoverflow.com/questions/47889565/reading-json-objects-from-text-file-into-pandas
2. https://stackoverflow.com/questions/35488036/using-lambda-and-strftime-on-dates-when-there-are-null-values-pandas
3. https://stackoverflow.com/questions/49127961/python-pandas-can-not-merge-dataframe-with-instance-of-type-class-str